@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,100;1,200;1,400&display=swap');


body {
    margin: 0;
    display: flex;
    background-color: rgb(246, 244, 235);
    font-family: Poppins;
    color: #2B2730;
    justify-content: center;
  }

ul{
    
        list-style-type: none;
        
}
.social{
    
}


a{
    text-decoration: none;
}


.links{
    
    display: flex;
    width: 130px;
    height: 30px;
    justify-content: left;
    align-items: center;
    
    
    
}


.fa-brands{
    font-size: 30px;
    padding-right: 10px;
}
  
.root{
    
    padding-top: 30px
}

.sidebar{
    display: flex;
    
    justify-content: center;
}

.sidebar-content{
    width: 300px;
}

.profile-image{
    border-radius: 20px;
}

.act{
    
    
    
}

.text{
    font-style: italic;
}


.main-bar{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.projects-area{
    width: 50vw;
    height: 17vh;
    background-color: blue;
}


.container{
    display: flex;
    justify-content: center;
    
    
}



/* makes the site screen adapt depending on screen-size */
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    
}

